@page
@model SE256_Brown_Lab5_Razor.Pages.OneAddProductModel
@{
    ViewData["Title"] = "OneAddProduct";
}

<h1>AddProduct</h1>

<form method="post">

    <div class="form-group">
        <label asp-for="aProduct.Product_Title"></label>
        <input asp-for="aProduct.Product_Title" type="text" class="form-control" placeholder="Brief Product Title" />
        <span asp-validation-for="aProduct.Product_Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="aProduct.Product_Desc"></label>
        <input asp-for="aProduct.Product_Desc" type="text" class="form-control" placeholder="Description of Product" />
        <span asp-validation-for="aProduct.Product_Desc" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="aProduct.Product_Category"></label>
        <input asp-for="aProduct.Product_Category" type="text" class="form-control" placeholder="category" />
        <span asp-validation-for="aProduct.Product_Category" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="aProduct.ProdEmail"></label>
        <input asp-for="aProduct.ProdEmail" type="text" class="form-control" placeholder="enter Email" />
        <span asp-validation-for="aProduct.ProdEmail" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


<!---->
<!--atS{ -->
<!-- if(Model.aProduct != null && Model.aProduct.Feedback != null) -->
<!--{-->
<!--    <h1>Results</h1> -->
<!--  <p>atS Model.aProduct.Feedback</p> -->
<!-- } -->
<!-- } -->



@{
    if (Model.aProduct != null && Model.aProduct.Feedback != null)
    {
        <h1>Results</h1>
        <p>@Model.aProduct.Feedback</p>
        
    }
}

<!--atS {
    if(Model.aProduct is null == false)
            {
                <h1>Results</h1>
                <p>atS Model.aProduct.Product_Title</p>
                <p>atS Model.aProduct.ProdEmail</p>
            }
}-->
