@page
@model SE256_Brown_FinalProject.Pages.EmployeeTrackModel
@{
}

<!--comments:

    maybe make an employee tracking system
    logging system. tracks hours. tracks employee information (contact phone number, contact email address, address where they live)

    has to use/include:

    Session variables or invisible labels that (/to) store data from page to page

    a template using Layout files

    Create classes that consist of varying data types:
    Integer, Double, String/Text, Boolean, DateTime

    Create a Backend portion of the site using a required DB-driven login to access controls

    Create at least one C Sharp class to represent whatever item/object you are going to be gathering information on

    Utilize and update your previously coded Validation via Data Annotations

    Implement a SQL Database along with class code to Insert / Update / Delete / Search (all four needed) the data

    Searching should implement a drill-down process (Broad, narrow with criteria, select/display one result)

    -->

<h1>Add Employee</h1>

<form method="post">

    <div class="form-group">
        <label asp-for="oneEmp.Employee_FirstName"></label>
        <input asp-for="oneEmp.Employee_FirstName" type="text" class="form-control" placeholder="Employee's First Name" />
        <span asp-validation-for="oneEmp.Employee_FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="oneEmp.Employee_LastName"></label>
        <input asp-for="oneEmp.Employee_LastName" type="text" class="form-control" placeholder="Employee's Last Name" />
        <span asp-validation-for="oneEmp.Employee_LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="oneEmp.Employee_Age"></label>
        <input asp-for="oneEmp.Employee_Age" type="number" class="form-control" placeholder="Employee's Age" />
        <span asp-validation-for="oneEmp.Employee_Age" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="oneEmp.Employee_Department"></label>
        <input asp-for="oneEmp.Employee_Department" type="text" class="form-control" placeholder="Employee's Department" />
        <span asp-validation-for="oneEmp.Employee_Department" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="oneEmp.Employee_Email"></label>
        <input asp-for="oneEmp.Employee_Email" type="text" class="form-control" placeholder="Employee's Email" />
        <span asp-validation-for="oneEmp.Employee_Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="oneEmp.Employee_Phone"></label>
        <input asp-for="oneEmp.Employee_Phone" type="number" class="form-control" placeholder="Employee's Phone Number" />
        <span asp-validation-for="oneEmp.Employee_Phone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="oneEmp.Employee_Address"></label>
        <input asp-for="oneEmp.Employee_Address" type="text" class="form-control" placeholder="Employee's Address" />
        <span asp-validation-for="oneEmp.Employee_Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="oneEmp.Employee_Number"></label>
        <input asp-for="oneEmp.Employee_Number" type="number" class="form-control" placeholder="Employee's Number/ID" />
        <span asp-validation-for="oneEmp.Employee_Number" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="oneEmp.Employee_WeekHours"></label>
        <input asp-for="oneEmp.Employee_WeekHours" type="number" class="form-control" placeholder="Employee's Total amount of hours worked in one week" />
        <span asp-validation-for="oneEmp.Employee_WeekHours" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="oneEmp.Employee_Wage"></label>
        <input asp-for="oneEmp.Employee_Wage" type="number" class="form-control" placeholder="Employee's Wage" />
        <span asp-validation-for="oneEmp.Employee_Wage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="oneEmp.Employee_StartShift"></label>
        <input asp-for="oneEmp.Employee_StartShift" type="number" class="form-control" placeholder="Employee's Wage" />
        <span asp-validation-for="oneEmp.Employee_StartShift" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="oneEmp.Employee_EndShift"></label>
        <input asp-for="oneEmp.Employee_EndShift" type="number" class="form-control" placeholder="Employee's Wage" />
        <span asp-validation-for="oneEmp.Employee_EndShift" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="oneEmp.Employee_LunchOut"></label>
        <input asp-for="oneEmp.Employee_LunchOut" type="number" class="form-control" placeholder="Employee's Wage" />
        <span asp-validation-for="oneEmp.Employee_LunchOut" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="oneEmp.Employee_LunchIn"></label>
        <input asp-for="oneEmp.Employee_LunchIn" type="number" class="form-control" placeholder="Employee's Wage" />
        <span asp-validation-for="oneEmp.Employee_LunchIn" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>



</form>

<!--scripts-->

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@{ 
    if(Model.oneEmp != null && Model.oneEmp.Feedback != null)
            {
                <h1>Results</h1>
                <p>@Model.oneEmp.Employee_LastName</p>
                <p>@Model.oneEmp.Employee_Department</p>
            }
}