body {
}


/*
    some notes here

*/

.headRed{
    box-sizing:border-box;
    border:5px solid black;

    background-color:cornsilk;
}




.shopTree{
    box-sizing:border-box;
    left:10px;
    top: 50px;

    padding-right:60px;
    border: 5px solid blue;
}

.spaces{
    box-sizing:border-box;
    left:50px;
    top:50px;
    margin-left:120px;
    margin-top:-30px;
    max-width:50px;

    border:5px solid green;
    
}



.DealsTree{
    box-sizing:border-box;
    left:50px;
    top:50px;

    margin-left: 170px;
    margin-top:-40px;
    border: 5px solid red;
    max-width:120px;
    
}

.SearchBox {
    box-sizing: border-box;
    width: 75px;
    margin-left: 470px;
    border: 5px solid orange;
}

.spaces2{
    box-sizing:border-box;
    left:50px;
    top:50px;
    margin-left:290px;
    margin-top:-30px;
    max-width:50px;
    border:5px solid gold;
}

.ServicesTree{
    box-sizing:border-box;
    left:50px;
    top:50px;

    margin-left: 340px;
    margin-top: -40px;
    border: 5px solid brown;
    max-width:120px;
    
}



.NavTree{
    box-sizing:border-box;
    left:50px;
    top:50px;

    margin-left:570px;
    margin-top:-70px;
    border:5px solid pink;
    max-width:120px;


}

/*move the help button to above/near shop tree?? */

.helpIcon{
    box-sizing:border-box;
    left:50px;
    top:-50px;
    height:30px;
    width:30px;
    
    max-width:80px;
    margin-left:720px;
    margin-top:-50px;

    border:5px solid teal;
}

.BusTree{
    box-sizing:border-box;
    left:50px;
    top:50px;

    max-width:120px;
    border: 5px solid crimson;
}

.space4{
    box-sizing:border-box;
    left:50px;
    top:50px;
    
    max-width:40px;
    margin-left:120px;
    margin-top:-30px;

    border: 5px solid purple;
}

.TodayTree{
    box-sizing:border-box;
    left: 50px;
    top: 50px;

    max-width: 120px;
    margin-left:160px;
    margin-top:-40px;

    border:5px solid navy;
}


/*
    .NavTree{
    box-sizing:border-box;
    left:50px;
    top:50px;

    margin-left: 250px;
    margin-top:-60px;
    border: 5px solid pink;
}


*/

.things{
    box-sizing:border-box;
    left: 50px;
    top: 50px;

    max-width: 80px;

    margin-left: 140px;
    margin-top: -75px;
    

    border:5px solid pink;
}



.dealRect1{
    /*
        i know i can make a rectangle using css
    */

    box-sizing:border-box;
    width:300px;
    height:200px;
    left:5px;
    top:200px;
    background-color:burlywood;

    color:black;

}

.promo1{
    box-sizing:border-box;
    width:300px;
    height:200px;

}

.dealRect2{
    box-sizing:border-box;
    width:300px;
    height:200px;

    /*
    left:150px;
    top:200px;
    */

    background-color:cornflowerblue;

    /*padding-left:100px;*/
    margin-left:320px;
    margin-top:-200px;

    color:black;

}

.promo2 {
    box-sizing: border-box;
    width: 300px;
    height: 200px;
}

.dealRect3{
    box-sizing:border-box;
    width:300px;
    height:200px;

    background-color:brown;

    margin-left:640px;
    margin-top:-200px;

    color:bisque;
}

.promo3 {
    box-sizing: border-box;
    width: 300px;
    height: 200px;
}

.deals2rect1{
    box-sizing:border-box;
    width:300px;
    height:200px;
    left:5px;
    top:200px;

    background-color:cadetblue;

    color:bisque;
    
}

.promo4 {
    box-sizing: border-box;
    width: 300px;
    height: 200px;
}

.deals2rect2{
    box-sizing:border-box;
    width:300px;
    height:200px;

    background-color:darkgreen;
    margin-left:320px;
    margin-top:-200px;

    color:bisque;
}

.promo5 {
    box-sizing: border-box;
    width: 300px;
    height: 200px;
}

.deals2rect3{
    box-sizing:border-box;
    width:300px;
    height:200px;
    background-color:darkorange;
    margin-left:640px;
    margin-top:-200px;

    color:black;
}

.promo6 {
    box-sizing: border-box;
    width: 300px;
    height: 200px;
}

.prod1 {
    /*some products here
        maybe show an image of product
    */

    box-sizing: border-box;
    width: 200px;
    height: 200px;
    left: 10px;
    top: 200px;
    /*background-image: url('../Imgs/navimage1.jpg');
        background-color:darkmagenta;

        background:url(thing);

        background-image: src('../Imgs/navimage1.jpg');

    */

    background-color:darkmagenta;

    
    color:bisque;
}

.prodimg1 {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
}


.prod2{
    box-sizing:border-box;
    width:200px;
    height:200px;

    background-color:darkgoldenrod;
    margin-left: 220px;
    margin-top:-200px;
    color:bisque;
}

.prodimg2 {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
}

.neg2{
    box-sizing: border-box;
    left: 50px;
    top: 50px;

    max-width: 60px;

    margin-left: 150px;
    
    
    border: 5px solid orange;
}

.link1{
    box-sizing:border-box;
    left: 50px;
    top: 50px;

    max-width:75px;

    margin-left: 200px;
    margin-top:-100px;

    border: 5px solid green;
}

.link2{
    box-sizing:border-box;
    left: 50px;
    top:50px;

    max-width:80px;
    margin-left:250px;
    margin-top:-130px;

    border:5px solid gold;
}

.tryagain{
    box-sizing:border-box;
    

    border: 5px solid blue;

    /*margin top does not work
        padding top does not work
        border top does not wokr
    */
    
    margin-left: 650px;

    padding-top:-1px;
    
}

.please{
    box-sizing:border-box;
    left: 50px;
    top: 50px;

    height: 35px;
    width: 183px;

    border: 5px solid pink;

    margin-left: 340px;
    
    
    

}
